# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.dll
DemosASPNet/Demos/bin/Newtonsoft.Json.xml
DemosASPNet/Demos/bin/System.Net.Http.Formatting.xml
DemosASPNet/Demos/bin/System.Web.Helpers.xml
DemosASPNet/Demos/bin/System.Web.Http.WebHost.xml
DemosASPNet/Demos/bin/System.Web.Http.xml
*.pdb
*.pdb
DemosASPNet/Demos/obj/Debug/Demos.dll
DemosASPNet/Demos/obj/Debug/Demos.csprojResolveAssemblyReference.cache
DemosASPNet/Demos/obj/Debug/Demos.csproj.FileListAbsolute.txt
*.pdb
*.pdb
DemosASPNet/Demos/bin/System.Web.Webpages.Razor.xml
DemosASPNet/Demos/bin/System.Web.Webpages.Deployment.xml
DemosASPNet/Demos/bin/System.Web.Webpages.xml
DemosASPNet/Demos/bin/System.Web.Razor.xml
DemosASPNet/Demos/bin/System.Web.Mvc.xml
DemosASPNet/Demos.v12.suo
DemosASPNet/Demos.v12.suo
DemosASPNet/Demos/obj/Debug/Demos.dll
